.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba($basic-white, 0.2);
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  color: $basic-white;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  padding: 21px 20px 9px;
  display: inline-block;
  opacity: 0.7;
}
