*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 873px;
  margin: 0 auto;

  @media (max-width: $desktop-width) {
    max-width: 698px;
  }

  @media (max-width: $tablet-width) {
    min-width: 286px;
  }
}
