$basic-black: #000000;
$basic-white: #ffffff;
$basic-blue: #0ad9c6;
$basic-gray: #48494d;
$basic-light: #f6f6f6;
$basic-dark: #1f1f1f;
$basic-light-gray: #f6f7f9;
$dark-phone: #131314;

$desktop-width: 1023px;
$tablet-width: 768px;
